# Gradle files
.gradle/
build/
*/build/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.kotlin/

# Android specific
local.properties
captures/
.externalNativeBuild/
.cxx/
*/.cxx/
output.json

# Python / Chaquopy
__pycache__/
*.py[cod]
*$py.class
.chaquopy/
*/.chaquopy/

# OS specific
.DS_Store
Thumbs.db

# Secrets
*.jks
*.keystore
google-services.json
